<h3>Здравствуйте, *|NAME|*</h3>


<p>Меня зовут Александр, я фоторедактор проекта  <b>«Дороги России»</b>. При поддержке <b>«Фонда Культуры»</b> мы делаем большой интернет портал, который станет самым полным иллюстрированным путеводителем по России, со всеми трассами, городами и селами, интересными маршрутами и местами.</p>
<p>Проект во многом авторский, и именно поэтому мы ориентируемся на людей, которые снимают для себя: документальные проекты, архитектурные, пейзажные, жанровые фотографии... Свое участие в проекте уже подтвердили многие отечественные и зарубежные фотографы. В ближайшей перспективе, (в конце 2015) мы планируем запустить <b>общенациональный конкурс</b>, с серьезными призами и грантами на собственные проекты, посвященные России. Главное, чтобы мир увидел Россию глазами лучших фотографов. </p>
<p>Авторы всех изображений обязательно будут указаны, со всеми ссылками на авторские ресурсы. К сожалению, на данном этапе, у нас нет возможности предложить коммерческие условия: нужны тысячи и миллионы изображений, однако со всеми авторами мы будем подписывать договор, который исключает передачу изображения третьим лицам и их коммерческое использование.</p>
<p>Надеемся, что наш проект Вас вдохновит и заинтересует. И мы сможем показать людям Ваши фотоработы уже этой осенью.</p>
<p>Будем благодарны за участие в нашем проекте и рады любому сотрудничеству с Вами.</p>
<br>
<p>Спасибо,</p>
<p>Александр</p>
<p><a href="http://sretenie-media.com/">www.sretenie-media.com</a></p>